<template>
  <header class="sticky-top">
    <logo />
  </header>
</template>

<script>
import Logo from '@/components/Logo'
export default {
  name: 'SeatSurgeHeader',
  components: { Logo }
}
</script>

<style scoped>
header {
  background-color: #17194c;
  text-align: center;
  margin: auto;
  padding: 1rem;
  min-height: 5.6875rem;
}
</style>
