<template>
  <b-container fluid>
    <b-row>
      <b-col md="3">
        <b-row class="sticky-top subheader">
          <b-col class="text-left">
            <h1 class="title">
              Seat Sale!
            </h1>
            <h2 class="subtitle">
              Get your tickets now!
            </h2>
            <h1 class="title">
              &#8369;<number
                ref="number1"
                :from="0"
                :to="computedPrice"
                :duration="0.5"
                :delay="0.5"
                :format="(number) => Math.round(number)"
                easing="Power1.easeOut"
              />
            </h1>
            <h2 class="subtitle">
              Ticket Price
            </h2>
          </b-col>
        </b-row>
      </b-col>
      <b-col md="9" class="text-left">
        <div v-if="isDevelop">
          <b-form-group :label="`Seat Columns (${layout.columns})`">
            <b-form-input
              v-model="layout.columns"
              type="range"
              min="1"
              max="5"
              placeholder="Enter seat columns"
            />
          </b-form-group>
          <b-form-group
            :label="`Seats per column (${layout.seats_per_column})`"
          >
            <b-form-input
              v-model="layout.seats_per_column"
              type="range"
              min="1"
              max="10"
              placeholder="Enter seats per column"
            />
          </b-form-group>
        </div>
        <div class="seatsurge__container">
          <table>
            <tr v-for="(row, r) in layoutSeats" :key="`row_${r}`">
              <td
                v-for="(col, c) in row"
                :key="`col_${c}`"
                class="seatsurge__column"
              >
                <b-button
                  v-for="(seat, s) in col"
                  :key="`seat_${s}`"
                  v-bind="buttonAppearance(seat.available)"
                  :class="{ disabled: !seat.available }"
                  @click="purchase(seat.id)"
                  class="seatsurge__button"
                >
                  Seat {{ seat.id }}
                </b-button>
              </td>
            </tr>
          </table>
        </div>
      </b-col>
    </b-row>
    <b-modal
      id="seatsurge__modal"
      size="sm"
      title="Confirmation"
      centered
      hide-footer
    >
      <template v-slot:default="{ ok, cancel }">
        <p>
          You are booking Seat {{ modal.id }} for &#8369;{{ computedPrice }}
        </p>
        <p style="color: #6a6a6a; font-size: 0.75rem;">
          By clicking "Book now", you agree to the terms of service.
        </p>
        <div class="text-right seatsurge__modal__footer">
          <b-button @click="cancel()" size="sm" variant="link">
            Cancel
          </b-button>
          <b-button @click="bookNow()" size="md" variant="primary">
            Book now
          </b-button>
        </div>
      </template>
    </b-modal>
  </b-container>
</template>

<script>
export default {
  name: 'SeatSurge',
  data() {
    return {
      stompClient: null,
      modal: {
        id: null
      },
      layout: {
        columns: 2,
        seats_per_column: 3,
        paid_seats: [],
        seats: 30,
        seatsSale: 10,
        minSale: 25,
        maxSale: 75,
        ceilingPrice: 0
      },
      seats: []
    }
  },
  computed: {
    isDevelop() {
      if (this.$route.query.hasOwnProperty('dev')) {
        return true
      }
      return false
    },
    availableSeats() {
      const availableSeats = this.seats.filter((seat) => seat.available)
      if (availableSeats) {
        return availableSeats.length
      }
      return 0
    },
    computedPrice() {
      const { minSale, maxSale, seatsSale, seats, ceilingPrice } = this.layout
      const saleDiff = maxSale - minSale
      const rate = ceilingPrice * (saleDiff / (seatsSale - 1) / 100)
      const minimumPrice = (minSale / 100) * ceilingPrice
      // const lastPrice = (maxSale / 100) * ceilingPrice
      const dcSeats = seats - this.availableSeats
      let finalPrice = ceilingPrice
      console.log(
        'Sale Difference',
        saleDiff,
        this.availableSeats,
        dcSeats,
        rate
      )
      if (dcSeats < seatsSale) {
        // Ceiling price
        finalPrice = rate * dcSeats + minimumPrice
      }
      return Math.round(finalPrice)
    },
    layoutSeats() {
      const seatsPerRow = this.layout.seats_per_column * this.layout.columns
      const tableArray = []
      for (const key in this.seats) {
        // If current seat is the start of a row
        // Create a row
        if (key % seatsPerRow === 0) {
          tableArray.push([])
        }

        // If curret seat is start of column
        // Create a column
        if (key % this.layout.seats_per_column === 0) {
          tableArray[tableArray.length - 1].push([])
        }

        // Get the last record from row level on the table array
        const rowLevel = tableArray[tableArray.length - 1].length - 1

        // Add the current seat
        tableArray[tableArray.length - 1][rowLevel].push(this.seats[key])
      }
      return tableArray
    }
  },
  mounted() {
    console.log('What?')
    this.connect()
  },
  methods: {
    connect() {
      const socket = new this.$sockjs('http://54.254.197.91:8080/movie-seats')
      this.stompClient = this.$stomp.over(socket)
      this.stompClient.connect({}, (frame) => {
        // setConnected(true)
        console.log(`Connected: ${frame}`)
        this.stompClient.subscribe('/topic/seat-list', (data) => {
          const body = JSON.parse(data.body)
          this.layout.paid_seats = body.paid_seats
          this.layout.ceilingPrice = body.ceiling_price
          this.layout.maxSale = body.max_price_discount
          this.layout.minSale = body.min_price_discount
          this.layout.seats = body.total_seats
          this.layout.seatsSale = body.total_sale_seats
          this.seats = this.generateSeats()
          console.log('Sample message', body)
        })

        setTimeout(
          this.sendToWS({
            seat_no: 0,
            price: 0
          }),
          2000
        )
      })
    },
    buttonAppearance(available) {
      const appearance = {
        variant: 'outline-primary',
        disabled: false
      }
      if (!available) {
        appearance.variant = 'secondary'
        appearance.disabled = true
      }
      return appearance
    },
    generateSeats() {
      const seats = this.layout.seats
      const paidSeats = this.layout.paid_seats
      const seatsArray = []
      for (let i = 0; i < seats; i++) {
        const currentProps = {
          id: i + 1,
          available: true
        }

        if (paidSeats.length > 0) {
          const filteredSeats = Array.from(
            new Set(paidSeats.map((s) => s.seat_no))
          ).map((id) => {
            return {
              seat_no: id,
              price: paidSeats.find((s) => s.seat_no === id).price
            }
          })
          const currentSeat = filteredSeats.find((seat) => {
            return i + 1 === seat.seat_no
          })
          if (currentSeat) {
            currentProps.available = false
          }
        }
        seatsArray.push(currentProps)
      }
      return seatsArray
    },
    purchase(id) {
      // make API call for purchase
      console.log('Purchased!', id)
      // Mutate
      // const seat = this.seats.find((s) => id === s.id)
      // seat.available = false
      this.modal.id = id
      this.$bvModal.show('seatsurge__modal')
    },
    bookNow() {
      this.sendToWS({
        seat_no: this.modal.id,
        price: this.computedPrice
      })
      this.$bvModal.hide('seatsurge__modal')
    },
    sendToWS(data) {
      if (this.stompClient) {
        this.stompClient.send('/app/seat', {}, JSON.stringify(data))
      }
    }
  }
}
</script>

<style lang="scss">
.container {
  margin: 2rem auto 0 auto;
  display: flex;
  min-height: calc(100vh - 5.6875rem);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 5rem;
  color: #0d0e38;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 2rem;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.subheader {
  &.sticky-top {
    top: 5.6875rem;
  }
}

.links {
  padding-top: 15px;
}

.seatsurge {
  &__container {
    margin-top: 1rem;
  }

  &__column {
    padding: 0 1.5rem;
  }

  &__button {
    width: 5rem;
    height: 5rem;
    margin: 0.125rem;
    font-size: 0.875rem;
    animation: shadow-pulse 0.5s;

    &[disabled] {
      animation: shadow-pulse-disabled 0.5s;
    }
  }

  &__modal {
    small {
      line-height: 80%;
    }

    &__footer {
      margin-top: 1rem;
    }
  }
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 123, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0 15px transparent;
  }
}

@keyframes shadow-pulse-disabled {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 15px transparent;
  }
}
</style>
